<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed,'toggled':sideBarToggled}">
  <div class="list-group">
    <div *ngFor="let item of sidebarItems">
      <a *ngIf="item.children.length==0" [routerLink]="item.path" [routerLinkActive]="['router-link-active']"
         class="list-group-item">
        <i [class]="'fa fa-fw '+item.icon"></i>&nbsp;
        <span>{{ item.name | translate }}</span>
      </a>
      <div class="nested-menu">
        <a *ngIf="item.children.length>0" class="list-group-item" (click)="addExpandClass(item.expandKey)">
          <i [class]="'fa fa-fw '+item.icon"></i>&nbsp;
          <span>{{ item.name | translate }}</span>
          <i class="fa  fa-chevron-down expand-icon"></i>&nbsp;
        </a>
        <li class="nested" [class.expand]="showMenu === item.expandKey">
          <ul class="submenu">
            <a *ngFor="let child of item.children" [routerLink]="child.path"
               [routerLinkActive]="['router-link-active']" class="list-group-item">
              <i [class]="'fa '+child.icon"></i>&nbsp;
              <span>{{ child.name | translate }}</span>
            </a>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <!--<div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">-->
    <!--<i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;-->
    <!--<span>{{ 'Collapse Sidebar' | translate }}</span>-->
  <!--</div>-->
</nav>
